@import url('https://fonts.googleapis.com/css?family=Allerta&display=swap');
html, body {
	position: relative;
	width: 100%;
	height: 100%;
	margin: auto 0;
	background-color: black;
	color: white;
	font-family: 'Allerta', sans-serif;
    background-image: url("static/olav-tvedt--oVaYMgBMbs-unsplash.jpg");

    /* Set a specific height */
    

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
h1, h2, h3, h4, h5 {
	margin: auto 0;
	padding: auto 0;
}
a {
	text-decoration-line: none;
    text-decoration-style: none;
	text-decoration-color: none;
	cursor: pointer;
}
